.watchAreaContainer {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr auto;
    grid-gap: 10px;
    height: inherit;
}

.textArea {
    height: 100%;
}

.button_area {
    display: flex;
    justify-content: space-around;
}