.create_new_question_area {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    justify-content: center;
    cursor: pointer;
}

.main {
    display: flex;
    width: 100%;
    justify-content: space-around;
}